// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Titillium Web',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #303030; // body background

// colors
@c1: #fff;
@c2: #ff6d00;
@c3: #ff4d00;
@c4: #6d2c30;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 14px;
@input-height: 36px;
@input-padding: 15px;
@input-border: #4f4f4f;
@input-bg: #4f4f4f;

// layout
@content-width: 1180px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1400px)";
@ub: ~"(min-width: 1200px) and (max-width: 1399px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";
@xxs: ~"(max-width: 479px)";