// form
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
	.rin;
	.transition(0.2s);
	position: relative;
	border: 1px solid @input-border;
	font-size: @input-size;
	width: 100%;
	height: @input-height;
	padding: 0 @input-padding;
	color: @c1;
	background: @input-bg;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		border-color: darken(@input-border,30%);
	}
}
textarea{
	padding: @input-padding;
	height: auto;
}
select[multiple] {
	width: auto;
	height: auto;
	padding: @input-padding;
}
input[type=number] {
	padding-right: 0;
}
input[type=submit],
input[type=button],
button {
	.btn;
}
input.input-mini{
	width: @input-height;
	padding-left:0;
	padding-right:0;
	text-align:center;
}
input[type=number].input-mini {
	width: @input-height+20;
}
input.input-small{
	width: 50%;
}
input.input-large{
	width: 100%;
}

// SelectBoxIt
.selectboxit-container {
	position: relative;
	display: block;
	vertical-align: top;
}
.selectboxit-container * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	outline: none;
	white-space: nowrap;
}
.selectboxit-container .selectboxit {
	cursor: pointer;
	overflow: hidden;
	display: block;
	position: relative;
	max-width: 100%;
	min-width: 100%;
}
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
	height: @input-height;
	line-height: @input-height;
	display: block;
}
.selectboxit-container .selectboxit:focus {
	outline: 0;
}
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
	opacity: 0.65;
	filter: alpha(opacity=65);
	cursor: default;
}
.selectboxit-text {
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	max-width: 9999em!important;
	padding: 0 40px 0 0;
	text-indent: @input-padding;
	font-size: @input-size;
}
.selectboxit-container .selectboxit-options {
	.rul;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 100%!important;
	max-width: 100%;
	*width: 100%;
	list-style: none;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	cursor: pointer;
	display: none;
	z-index: 9999999999999;
	text-align: left;
}	
.selectboxit-option, .selectboxit-optgroup-header {
	.rli;
	text-indent: @input-padding;
	margin: 0;
	list-style-type: none;
}
.selectboxit-optgroup-header {
	font-weight: bold;
}
.selectboxit-optgroup-header:hover {
	cursor: default;
}
.selectboxit-arrow-container {
	position: absolute;
	width: 40px;
	right: 0;
	background: @input-bg;
}
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -6px;
}
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
	top: 30%;
}
.selectboxit-option-icon-container {
	float: left;
}
.selectboxit-container .selectboxit-option-icon {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.selectboxit-option-icon-container {
	margin: 0 -8px 0 8px;
}
.selectboxit-option-icon-url {
	width: 18px;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center;
	float: left;
}
.selectboxit-rendering {
	display: inline-block !important;
	*display: inline !important;
	zoom: 1 !important;
	visibility: visible !important;
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
.jqueryui .ui-icon {
	background-color: inherit;
}
.jqueryui .ui-icon-triangle-1-s {
	background-position: -64px -16px;
}
.selectboxit-btn {
	.transition(0.2s);
	background-color: @input-bg;
	border: 1px solid @input-border;
}
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
	border-color: darken(@input-border,30%);
}
.selectboxit-default-arrow {
	width: 0;
	height: 0;
	border-top: 6px solid darken(@input-bg,50%);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}
.selectboxit-list {
	font-size: @input-size;
	background: @input-bg;
	border: 1px solid @input-border;
}
.selectboxit-list .selectboxit-option-anchor {
	color: @c1;
}
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
	background: lighten(@input-bg,10);
}
.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
	color: #999999;
}

// iCheck
.icheckbox,
.iradio {
	display: inline-block;
	cursor: pointer;
	font-weight: normal;
	font-size: @fsp*1.2;
	margin: 0 0.1em;
	color: lighten(@input-border,50%);
	&:before{
		.fi;
		content: '\e800';
	}
	&.disabled {
		color: lighten(@input-border,5%);
		cursor: default;
		cursor: not-allowed;
	}
}
.icheckbox.checked {
	&:before{
		content: '\e801';
	}
}
.icheckbox.checked.disabled {
	background-position: -80px 0;
}
.iradio {
	.border-radius(50%);
	&:before{
		content: '\e802';
	}
	&.checked {
		&:before{
			content: '\e803';
		}
	}
}