.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
#content {
	margin: 40px 0;
}
#page-header {
	background: @c4;
	.logo {
		float: left;
		margin: 25px 0 20px;
		@media @sm, @xs {
			float: none;
			text-align: center;
		}
		a {
			img {
				display: block;
				margin: auto;
			}
		}
	}
}
.mod_menu-main {
	float: right;
	@media @sm, @xs {
		float: none;
	}
	@media @xs {
		margin: 0 -10px;
	}
	ul {
		.rul;
		display: table;
		width: 100%;
		li {
			.rli;
			display: table-cell;
			@media @xs {
				display: block;
			}
			&:hover{
				a {
					background: @c2;
				}
			}
			a {
				.fh;
				.transition(0.2s);
				display: block;
				padding: 31px 20px 35px;
				color: #fff;
				text-decoration: none;
				text-align: center;
				font-size: 18px;
				line-height: 1.2;
				min-width: 160px;
				font-weight: bold;
				background: fade(#000,5);
				@media @md {
					min-width: 120px;
				}
				@media @xs {
					padding: 20px;
				}
				&:before{
					position: relative;
					display: block;
					font-size: 38px;
					line-height: 1;
					margin: 0 auto 7px;
					@media @xs {
						display: inline-block;
						margin: 0 15px 0 0;
					}
				}
				&.icon-message {
					&:before{
						left: 6px;
					}
				}
			}
			&:nth-child(2) {
				background: fade(#000,10);
			}
			&:nth-child(3) {
				background: fade(#000,15);
			}
			&:nth-child(4) {
				background: fade(#000,20);
			}
			&:nth-child(5) {
				background: fade(#000,25);
			}
			&:nth-child(6) {
				background: fade(#000,30);
			}
		}
	}
}
.mod_custom-slider {
	position: relative;
	.items {
		.item {
			width: 100%;
			overflow: hidden;
			figure {
				img {
					display: block;
					width: 100%!important;
					max-width: 1920px;
					@media @ub, @md, @sm, @xs {
						margin: -5% 0;
					}
				}
			}
			h2 {
				position: absolute;
				top: 24%;
				left: 0;
				right: 0;
				text-align: center;
				color: @c2;
				font-weight: bold;
				font-size: 104px;
				line-height: 1;
				text-shadow: 0 0 6px #fff;
				@media @md, @ub {
					top: 15%;
				}
				@media @md {
					font-size: 7vw;
				}
				@media @sm, @xs {
					font-size: 7vw;
				}
				small {
					display: block;
					font-size: 52px;
					line-height: 1.1;
					font-weight: 300;
					margin: 20px 0 0;
					color: #3f3f3f;
					@media @sm, @xs {
						font-size: 5vw;
					}
				}
			}
		}
	}
}
.mod_custom-reservation {
	.container {
		@media @sm, @xs {
			width: 100%;
			padding: 0;
		}
	}
	.inner {
		.border-radius(50%);
		position: absolute;
		top: -200px;
		right: 15px;
		z-index: 1;
		width: 412px;
		height: 412px;
		padding: 68px 0 0;
		text-align: center;
		background: #fff;
		@media @ub, @md {
			width: 320px;
			height: 320px;
			top: -160px;
			padding: 40px 0 0;
		}
		@media @sm, @xs {
			.border-radius(0);
			position: relative;
			top: auto;
			right: auto;
			width: auto;
			height: auto;
			padding: 30px 0 0;
		}
		&:before{
			.fi;
			content: '\e80b';
			display: block;
			font-size: 102px;
			line-height: 1;
			color: #4a4a4a;
			margin: 0 auto 55px;
			@media @ub, @md {
				margin-bottom: 20px;
			}
		}
		&:after{
			.border-radius(50%);
			content: '';
			position: absolute;
			top: 8px;
			left: 8px;
			right: 8px;
			bottom: 8px;
			border: 1px dashed #b1b1b1;
			@media @sm, @xs {
				.border-radius(0);
			}
		}
		.mod-title {
			position: relative;
			z-index: 1;
			font-size: 25px;
			line-height: 1;
			color: #5c5c5c;
			margin: 0 0 8px;
		}
		.phone {
			position: relative;
			z-index: 1;
			font-size: 42px;
			line-height: 1;
			color: @c2;
			font-weight: bold;
		}
	}
}
.mod_custom-intro {
	color: #fff;
	padding: 105px 0 70px;
	background: @c3;
	@media @ub, @md, @sm {
		padding: 30px 0;
	}
	@media @xs {
		padding: 40px 0 20px;
	}
	.inner {
		.fh;
		margin: 0 520px 0 0;
		font-size: 24px;
		line-height: 1.5;
		@media @md {
			margin-right: 400px;
		}
		@media @sm, @xs {
			margin-right: 0;
		}
	}
	mark {
		color: #3f3f3f;
	}
}
.mod_custom-buildings {
	padding: 95px 0 0;
	@media @xs {
		padding: 40px 0 0;
	}
	.mod-title {
		text-align: center;
		margin: 0 0 145px;
		@media @sm, @xs {
			margin: 0 0 50px;
		}
		h1, h2, h3, p {
			font-size: 46px;
			margin: 0;
			color: @c2;
			font-weight: bold;
		}
	}
	.items {
		margin: 0 0 -50px;
		.item {
			.clearfix;
			font-size: 14px;
			line-height: 1.25;
			margin: 0 0 110px;
			@media @sm, @xs {
				margin: 0 0 50px;
			}
			.row {
				margin: 0 0 20px;	
			}
			.col-1 {
				float: left;
				width: 27%;
				padding: 0 20px 0 0;
				@media @md {
					width: 50%;
					padding-right: 80px;
				}
				@media @sm, @xs {
					width: 100%;
					padding: 0 0 30px;
				}
			}
			.col-2 {
				float: left;
				width: 25%;
				padding: 0 20px 0 0;
				@media @md {
					width: 50%;
					padding-right: 0;
				}
				@media @sm, @xs {
					width: 100%;
					padding: 0 0 30px;
				}
			}
			.col-3 {
				float: right;
				width: 43%;
				@media @md {
					float: none;
					clear: both;
					width: 50%;
					padding: 20px 20px 0 0;
				}
				@media @sm, @xs {
					width: 100%;
					padding: 0 0 30px;
				}
			}
			h2 {
				.clearfix;
				font-size: 29px;
				font-weight: bold;
				color: @c2;
				margin: 0 0 33px;
				[class^="icon-"] {
					font-size: 38px;
					line-height: 1;
					color: @c3;
					float: left;
					margin: -4px 20px 0 0;
					&:before{
						margin: 0;
					}
				}
			}
			h3 {
				font-size: 22px;
			}
			h4 {
				color: @c2;
				margin: 0 0 5px;
				font-size: 16px;
			}
			p {
				margin: 0 0 12px;
			}
			ul {
				margin: 0 0 12px;
				li {
					&:before{
						top: 3px;
					}
				}
			}
			.facilities {
				.rul;
				.clearfix;
				margin: 0 0 0 -10px;
				li {
					.rli;
					float: left;
					width: 50px;
					height: 50px;
					line-height: 50px;
					font-size: 20px;
					text-align: center;
					margin: 0 0 9px 9px;
					background: #9b9b9b;
					&:hover{
						&:before, [class^="icon-"]:after {
							display: block;
						}
					}
					&:before{
						display: none;
						top: 100%;
						left: 50%;
						margin: 0 0 0 -10px;
						border: 10px solid transparent;
						border-top-width: 5px;
						border-bottom: 7px solid #4a4a4a;
					}
					[class^="icon-"] {
						&:after{
							.border-radius(2px);
							display: none;
							content: attr(title);
							position: absolute;
							top: 100%;
							left: 0;
							margin: 12px 0 0;
							font-size: 12px;
							line-height: 1;
							font-style: italic;
							min-width: 120px;
							padding: 4px 6px;
							background: #4a4a4a;
						}
					}
				}
			}
			table {
				margin: 0 0 20px;
				tr {
					th, td {
						padding: 0;
						font-weight: normal;
					}
					th {
						padding-right: 15px;
					}
					td {
						text-align: right;
					}
					&.highlight {
						th, td {
							color: @c2;
						}
					}
				}
			}
			nav {
				text-align: right;
				@media @md, @sm, @xs {
					text-align: left;
				}
				a {
					.btn;
					&:before{
						.fi;
						content: '\e819';
						float: right;
						font-size: 30px;
						margin: 0 -11px 0 14px;
						font-weight: normal;
					}
				}
			}
			.gallery {
				margin: 20px 0;
				ul {
					.rul;
					margin: 0 -10px;
					li {
						.rli;
						display: inline-block;
						vertical-align: top;
						width: 50%;
						padding: 0 10px;
						margin: 0 -4px 20px 0;
						@media @sm {
							width: 33.3333%;
						}
						@media @xxs {
							width: 100%;
						}
						figure {
							border-bottom: 4px solid fade(#fff,12);
							a {
								display: block;
								position: relative;
								&:before{
									.fi;
									.transition(0.2s);
									content: '\e808';
									position: absolute;
									right: 10px;
									top: 10px;
									color: @bb;
									font-size: 26px;
									line-height: 1;
								}
								&:hover{
									&:before{
										font-size: 50px;
									}
								}
								img {
									display: block;
								}
							}
							figcaption {
								line-height: 1.2;
								margin: 10px 10px 15px;
							}
						}
					}
				}
			}
		}
	}
	.footer {
		padding: 20px 0 25px;
		background: @c3;
	}
}
.mod_custom-contact {
	position: relative;
	background: @c4;
	font-size: 14px;
	mark {
		.fh;
		font-weight: bold;
		font-size: 16px;
	}
	.container {
		position: static;
		display: table;
	}
	.address {
		display: table-cell;
		vertical-align: top;
		width: 25%;
		padding: 90px 20px 75px;
		background: fade(#000,10);
		@media @md {
			width: 33.3333%;
		}
		@media @sm {
			display: block;
			width: 50%;
			float: left;
			padding: 40px 20px;
			background: none;
		}
		@media @xs {
			display: block;
			width: auto;
			padding: 20px 10px;
			margin: 0 -10px;
		}
	}
	.contact {
		display: table-cell;
		vertical-align: top;
		width: 25%;
		padding: 90px 20px 75px;
		background: fade(#000,20);
		@media @md {
			width: 33.3333%;
		}
		@media @sm {
			display: block;
			width: 50%;
			float: left;
			padding: 40px 20px;
			background: none;
		}
		@media @xs {
			display: block;
			width: auto;
			padding: 20px 10px;
			margin: 0 -10px;
		}
		mark {
			color: @c2;
		}
		.phone, .email {
			.fh;
			position: relative;
			padding: 0 0 0 40px;
			font-size: 20px;
			font-weight: bold;
			margin: 0 0 10px;
			&:before{
				.fi;
				content: '\e80c';
				position: absolute;
				top: 0;
				left: 0;
				font-size: 26px;
				line-height: 1;
				font-weight: normal;
			}
		}
		.email {
			&:before{
				content: '\e810';
			}
		}
	}
	.maparea {
		display: table-cell;
		width: 50%;
		@media @md, @sm, @xs {
			position: relative;
			width: 33.3333%;
		}
		@media @sm, @xs {
			display: block;
			width: auto;
			clear: both;
			margin: 0 -10px;
		}
		.map {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 50%;
			overflow: hidden;
			@media @md, @sm, @xs {
				left: 0;
			}
			@media @sm, @xs {
				position: relative;
				padding: 0 0 50%;
			}
		}
		iframe {
			position: absolute;
			top: -50%;
			right: -50%;
			bottom: -50%;
			left: -50%;
			width: 200%;
			height: 200%;
			border: 0;
		}
	}
}
#page-footer {
	padding: 18px 0;
	color: #242424;
	background: #fff;
	a {
		color: @c4;
	}
	.copy {
		float: left;
		font-size: 14px;
		@media @xs {
			float: none;
			text-align: center;
		}
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 12px;
		margin: 2px 0;
		@media @xs {
			float: none;
			text-align: center;
		}
		a {
			color: #242424;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 12px;
			margin: 1px 0 0 10px;
			@media @xs {
				float: none;
				display: block;
				margin: 0 auto 5px;
			}
		}
	}
}
.mod_menu-footer {
	margin: 0 0 10px;
	ul {
		.rul;
		@media @xs {
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			margin: 0 10px 0 0;
			font-size: 13px;
			&:after{
				content: '|';
				margin: 0 0 0 10px;
			}
			&:last-child {
				&:after{
					display: none;
				}
			}
		}
	}
}
.mod_breadcrumbs {
	margin: 0 0 30px;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			padding: 0 0 0 16px;
			margin: 0 10px 0 0;
			font-size: 13px;
			&:before{
				content: '\e819';
			}
			&.home {
				.rli;
				margin: 0 10px 0 0;
				a {
					font-size: 0;
					&:before{
						.fi;
						content: '\e813';
						font-size: 26px;
					}
				}
			}
			a {
				text-decoration: none;
				&:hover{
					color: #fff;
				}
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e817';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}