
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-rss:before { content: '\e80a'; } /* '' */
.icon-key:before { content: '\e80b'; } /* '' */
.icon-mobile:before { content: '\e80c'; } /* '' */
.icon-message:before { content: '\e80d'; } /* '' */
.icon-food:before { content: '\e80e'; } /* '' */
.icon-bed:before { content: '\e80f'; } /* '' */
.icon-envelope-open:before { content: '\e810'; } /* '' */
.icon-tv:before { content: '\e811'; } /* '' */
.icon-shower:before { content: '\e812'; } /* '' */
.icon-home-blank:before { content: '\e813'; } /* '' */
.icon-home-a:before { content: '\e814'; } /* '' */
.icon-home-b:before { content: '\e815'; } /* '' */
.icon-down-dir:before { content: '\e816'; } /* '' */
.icon-up-dir:before { content: '\e817'; } /* '' */
.icon-left-dir:before { content: '\e818'; } /* '' */
.icon-right-dir:before { content: '\e819'; } /* '' */